@import 'libs';

$default:#7b7b7b;


%rubik-500{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-style: normal;
}
%rubik-400{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: normal;
}
%dmsans-700{
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}
%dmsans-500{
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
}
%dmsans-400{
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
}
html{
    box-sizing: border-box;
  }
  
  *,
  *::after,
  *::before{
    box-sizing: inherit;
  }
  
  ul[class],
  ol[class] {
    padding: 0;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  ul[class] {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  input,
  button,
  textarea,
  select {
    font: inherit;
  }



a{
  text-decoration: none;
}
.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
html,
body{
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  color: $default
}
.title{
  @extend %dmsans-700;
  font-size: 36px;
  color: #000;
  margin-bottom: 40px;
  text-align: center;
}
.main{
  flex-grow: 1;
}



.header{
  padding: 55px 0 0 0;
  margin-bottom: 50px;
}
.header__inner{
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.menu__list{
  display: flex;
  @extend %rubik-500;
  font-size: 15px;
  color: #436372;
  &-item + .menu__list-item{
    margin-left: 30px;
  }
}
.user-nav{
  display: flex;
  &__link{
    width: 50px;
    height: 50px;
    background: #edf1f4;
    text-align: center;
    border-radius: 50%;
  }
  &__shop-link{
    position: relative;
  }
  &__count{
    position: absolute;
    font-size: 10px;
    line-height: 16px;
    top: 10px;
    right: -8px;
    background: #fff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    text-align: center;
    @extend %dmsans-400;
  }
}
.user-nav__shop{
  background: #fcd7b6;
  display: flex;
  justify-content: space-around;
  border-radius: 30px;
  width:180px;
  height: 50px;
  margin: 0 25px;
}
.dots-icon{
  background: #a3bbc8;
}
.footer{
  margin-top: 80px;
}
.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @extend %rubik-400;
  line-height: 32px;
  font-size: 14px;
  padding-bottom: 75px;
  border-bottom: 1px solid #dae4e9;
  &__contact{
    max-width: 200px;
  }
  &__menu{
    max-width: 200px;
  }
  &__newsletter{
    max-width: 300px;
    width: 100%;
  }
  &__address{
    line-height: 1.2;
    margin-top: 20px;
  }
  &__title{
    padding-top: 15px;
    @extend %dmsans-700;
    font-size: 16px;
    text-transform: uppercase;
    color: #1f2044;
  }
  &__link{
    color: $default;
  }
}
.footer-top__form{
  @extend %dmsans-700;
  &-input{
    background: #fef7f0;
    border: none;
    padding: 5px 10px;
    color: #1f2044;
    font-size: 12px;
  }
  &-btn{
    background: #a3bbc8;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
  }
}
.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  @extend %rubik-400;
  font-size: 14px;
  color: $default;
  &__list{
    display: flex;
    a{
      color: $default;
    }
  }
  &__item + .footer-bottom__item{
    padding-left: 15px;
    border-left: 1px solid $default;
    margin-left: 13px;
  }
}
.top-slider{
  background: url(../img/top-slider.png) center center/ cover no-repeat;
  width: 90%;
  margin: 0 auto;
  &__inner{
    padding: 230px 0 45px 0;
  }
  &__item{
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    margin-bottom: 200px;
  }
  &__title{
    color: #243f4d;
    @extend %rubik-500;
    font-size: 72px;
    margin-bottom: 40px;
  }
  &__text{
    color: #436372;
    font-size: 18px;
    margin-bottom: 40px;
  }
  &__link{
    padding: 15px 15px 15px 30px;
    background: #a3bbc8;
    color: #fff;
    span{
      padding-left: 30px;
    }
  }
  .slick-dots{
    display: flex;
    justify-content: space-between;
    width: 110px;
    margin: 0 auto;
    li{
      button{
        padding: 0;
        background: #fde3cc;
        border-radius: 50%;
        border: none;
        width: 33px;
        height: 33px;
        text-align: center;
        line-height: 1;
        font-size: 11px;
        color: #243f4d;
        @extend %rubik-500
      }
      &.slick-active{
        button{
          background-color: white;
        }
      }
    }
  }
}
.features{
  display: flex;
  justify-content: space-between;
  height: 170px;
  background: #fef7f0;
  margin-bottom: 70px;
  &__item{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    margin: 0 auto;
  }
  &-info{
    padding-left: 30px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 18px;
    color: #414141;
  }
}
.week-products{
  text-align: center;
  margin-bottom: 180px;
}
.products__menu-list{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  @extend %dmsans-700;
  font-size: 16px;
}
.products__menu-btn{
  border: none;
  background: none;
  cursor: pointer;
  color: #8b8b8b;
  &:hover{
    color: #1a1a1a;
  }
}
li.choice-active{
  button{
    color:#191919
  }
}
.products__menu-item + .products__menu-item{
  margin-left: 30px;
}
.products__list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 370px 370px;
  grid-gap: 40px;
}
.products__item{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &:hover{
    .products__user-nav{
      opacity: 1;
      transition: opacity .3s;
    }
  }
}
.products__img{
  margin: auto;
}
.products__title{
  color: #243f4d;
  @extend %dmsans-500;
  font-size: 16px;
  line-height: 40px;
}
.products__price{
  @extend %dmsans-700;
  font-size: 16px;
  color: #a3bbc8;
  line-height: 40px;
  margin-bottom: 30px;
}
.products__user-nav{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 65%;
  left: 50%;
  transform:translate(-50%, -50%);
  opacity: 0;
  &__item{
    width: 45px;
    height: 45px;
    background: #fff;
    color:#a3bbc8;
    border-radius: 50%;
  }
  &__item + .products__user-nav__item{
    margin-left: 15px;
  }
  &__link{
    svg{
      path{
        fill: rgb(163, 187, 200)!important;
      }
    }
  }
  &__item:hover{
    background-color: #a3bbc8;
    svg{
      path{
        fill: rgb(255, 255, 255)!important;
        transition: all .3s;
      }
    }
  }
}
.recommended{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 380px;
  grid-gap: 40px;
  margin-bottom: 100px;
  &__item{
    background: #feefe2;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &-img{
    width: 40%;
    text-align: center;
    padding: 0 15px;
  }
  &__item-img{
    margin-top: -60px;
    margin-bottom: 60px;
  }
  &-description{
    width: 60%;
    padding-right: 150px;
  }
  &__item-title{
    @extend %dmsans-700;
    font-size: 26px;
    margin-bottom: 25px;
    color: #243f4d
  }
  &__item-text{
    @extend %rubik-400; 
    font-size: 16px;
    margin-bottom: 50px;
    color: #243f4d
  }
  &__item-link{
    @extend %rubik-500;
    font-size: 16px;
    padding: 20px;
    color: #436372;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    span{
      margin-left: 40px;
    }
  }
}
.design{
  margin-bottom: 180px;
}
.design__menu-list{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  @extend %dmsans-700;
  font-size: 16px;
}
.design__menu-btn{
  border: none;
  background: none;
  cursor: pointer;
  color: #8b8b8b;
  &:hover{
    color: #1a1a1a;
  }
}
li.choice-active-design{
  button{
    color:#191919
  }
}
.design__menu-item + .design__menu-item{
  margin-left: 30px;
}
.design__list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 270px 270px;
  grid-gap: 40px;
}
.design__item{
  background-color: #f8f8f8;
  display: flex;
  position: relative;
  min-height: 270px;
  width: 100%;
}
.design__description{  
  z-index: 2;
  position: absolute;
  left: 35px;
  top: 40px;
}
.design__img{
  position: absolute;
  bottom: 25px;
  right: 0;
}
.design__title{
  color: #243f4d;
  @extend %dmsans-700;
  font-size: 20px;
}
.design__subtitle{
  @extend %dmsans-700;
  font-size: 16px;
  color: #a3bbc8;
  line-height: 40px;
  margin-bottom: 30px;
}
.video{
  width: 100%;
  background: url(../img/video-bg.jpg) center center/ cover no-repeat;
  margin-bottom: 115px;
  &__popup{
    height: 480px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.blog{
  &area__title{
    margin: 0;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  &__link{
    @extend %dmsans-700;
    font-size: 16px;
    color:#262626;
    span{
      margin-left: 15px;
    }
  }

  &__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 420px;
    grid-gap: 30px;
    margin-bottom: -170px;
  }
  &__item{
    background: #fff;
  }
  &__title{
    p{
    margin: 0 30px;
    padding: 35px 0 15px 0;
    @extend %dmsans-500;
    font-size: 18px;
    color: #262626;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 15px;
    }
  }
  &__footer{
    margin: 0 30px 25px 30px;
    @extend %rubik-400; 
    font-size: 12px;
    color: #222933;
    span + span{
      margin-left: 30px;
    }
  }
  &__meta{
    position: absolute;
    top: -15px;
    left: 30px;
    padding: 8px 30px;
    border-radius: 20px;
    background: #a3bbc8;
    text-transform: uppercase;
    @extend %dmsans-700;
    font-size: 14px;
    color: #fff;
  }
  &__content{
    position: relative;
  }
}
.brand{
  background: #fef7f0;
  &__list{
    padding: 250px 0 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}